:root {
    --darkest: rgb(54, 47, 40);
    --inbetween: rgb(94, 77, 61);
    --lightest: rgb(236, 216, 178);
}

#header {
    width: 100%;
    background-color: red;
    height: 30px;
}

#container {
    width: 100%;
    background-color: #ffcc33;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#first {
    width: 50%;
    height: 300px;
    background-color: blue;
}

#second {
    width: 50%;
    height: 600px;
    background-color: green;
}

#clear {
    clear: both;
}

:root {
    --black: #1b1b1b;
    --gray: #ddd;
}

header {
    padding: 1em;
    background: var(--gray);
}

nav {
    padding: 1em;
    color: #fff;
    width: 10em;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background: var(--black);
    transform: translateX(-100%);
    transition: transform 1s cubic-bezier(0, 1.01, 0.58, 1);
}

nav.is--open {
    transform: translateX(0);
}

nav li {
    margin: 1em 0;
}

nav a {
    color: inherit;
}