
:root {
    --darkest: rgb(54,47,40);
    --inbetweenDarkestAndMiddle: rgb(77, 63, 60);
    --middle: rgb(124, 110, 96);
    --inbetweenMiddleAndLightest : rgb(197, 152, 132);
    --lightest: rgb(236, 216, 178);
}


body, html {   
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:flex;
    align-content: center;
    background: var(--lightest);
    background: linear-gradient( var(--inbetweenDarkestAndMiddle), var(--middle), var(--inbetweenMiddleAndLightest), var(--lightest));
    font-family: "Lato", Arial, sans-serif;
}

body {
    display:table-cell;
    vertical-align:middle;
}

#title{
    display:table;
    vertical-align:middle;
    margin:auto;
    padding-top: 17vh;
    padding-bottom: 7vh;
    padding-right: 2vw;
    padding-left: 2vw;
    font-size: 4vh;
    color: var(--lightest);
    text-align: center;
}

.Buttons{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 10vh;
    margin : auto;
    width: 100%;
    height: 50vh;
    position: absolute;
}

#LearnHTML, #LearnCSS{
    position: relative;
    width: 25em;
    height: 35vh;
    padding: 2vh;
    border: 0 solid var(--darkest);
    box-shadow: inset 0 0 20px var(--darkest);
    outline: 1px solid;
    outline-color: var(--lightest);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

#LearnHTML:hover, #LearnCSS:hover{

    border: 1px solid var(--darkest);
    box-shadow: inset 0 0 20px var(--inbetweenMiddleAndLightest), 0 0 20px var(--inbetweenDarkestAndMiddle);
    outline-color: var(--inbetweenDarkestAndMiddle);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px var(--darkest);
}

@media screen and (max-width: 800px) {
    
    #title{
        padding-top: 5vh;
        padding-bottom: 4vh;
        padding-right: 2vw;
        padding-left: 2vw;
        font-size: 4vh;
    }

    .Buttons {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-evenly;
        margin : auto;
        width: 100%;
    }

    #LearnHTML, #LearnCSS{
    position: relative;
    width: 80vw;
    height: 30vh;
    padding: 2vh;
    margin: 1vh;
    }
}